@use '../variables';

.infos-bar {
    padding: 16px 16px;
    background-color: transparent;

    &__infos {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__item {
            font-size: 14px;
            color: variables.$TextColor;

            b {
                font-size: 18px;
                display: block;
                color: variables.$TextColor;
            }
        }
    }

    @media(max-width: 640px) {
        display: block;

        &__infos {
            display:block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media(max-width: 1020px) {
        &__infos {
            gap: 16px
        }
    }
}