$Grad1Start: #000000;
$Grad1End: #0f4811;
$Grad2Start: #0f4811;
$Grad2End: #2d8031;
$Grad3Start: #2d8031;
$Grad3End: #5ab45f;
$Grad4Start: #5ab45f;
$Grad4End: #8ee492;

$TextColor: #ffffFf;
$TextColorSecondary: #000000;